body {
  margin: 0;
  font-size: 16px;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
  cursor: pointer;
}

a:hover {
  color: #1976d2;
}
.wrap {
  max-width: 90vw;
  margin: auto;
}
.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-bottom: 1px solid #00bcd4;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
  font-size: 1.3em;
}

.top-bar a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

.card-heading {
  padding: 16px;
}

.field-line,
.button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}
